.container {
    padding: 20px 60px;
    height: 100vh;
    .info {
        margin-bottom: 1%;
        h1 {
            font-size: 3em;
            font-weight: bold;
            color: #015D47;
            margin-bottom: 20px;
        }
        div {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 10px;
            margin-top: 5px;
            h2 {
                font-size: 1.5em;
                font-weight: bold;
                color: #015D47;
            }
            p {
                font-size: 1.5em;
                color: #015D47;
            }
            a {
                font-size: 1.5em;
                font-style:italic;
                color: #00ACB1;
                margin-left: 40px;
                &:hover {
                    text-decoration: underline;
                    color: #015D47;
                }
            }
        }
        &::after {
            content: '';
            display: block;
            width: 35%;
            height: 2px;
            background: linear-gradient(to right, magenta, #00ACB1);
            margin-top: 1%;
        }
    }
}